.wrapper {
  text-align: center;
  justify-content: center;
}

body {
  background-image: linear-gradient(to bottom right, rgb(39, 42, 245), rgb(153, 0, 255));
  background-repeat:no-repeat;
  height: 96.5vh;
}

.header {
  font-family: 'Allison', cursive;
  color: rgb(4, 248, 106);
}

.fieldsetStyle {
  border: 2px solid blue;
  border-radius: 4px;
  display: block;
  width: 300px;
  margin: 10px auto;
}

.buttonWrraper{
  margin-top: 45px;
}